@media only screen and (max-width: 900px) {
    .AboutMe {
        margin: 0;
    }
    .Statement {
        width: 90%;
    }
    .Bio {
        width: 90%;
        flex-direction: column;
    }
    .Curriculum {
        width: 90%;
    }
    .Bio #portrait {
        align-self: flex-start;
    }
}
@media only screen and (min-width: 900px) {
    .AboutMe {
        margin: auto;
        width: 900px;
    }
    .Statement {
        width: 60%;
    }
    .Bio {
        width: 60%;
    }
    .Curriculum {
        width: 60%;
    }
    .Bio #portrait {
        align-self: center;
    }
}

.AboutMe {
    margin: auto;
    margin-top: 10vh;
    font-family: sans-serif;
    animation: fadeInAbout 0.5s ease-in both;
}

.Bio {
    display: flex;
    margin-top: 40px;
    font-size: 1.25em;
    margin: auto;
}
.Bio #portrait {
    width: 50%;
    height: auto;
    flex-basis: 600px;
}
.Bio p {
    color: #242424;
}

.Curriculum {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    list-style: none;
    margin: auto;
}

.Curriculum ul {
    list-style: none;
}

.CurriculumSection {
    margin: auto;
}

.Curriculum h4 {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

.Curriculum h2 {
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
}

.CurriculumRow {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.Desc {
    margin-left: 10px;
    color: #242424;
}

.Statement {
    text-align: center;
    font-size: 1.25em;
    margin-top: 40px;
    margin: auto;
}

.Statement p {
    text-align: left;
    color: #242424;
}

hr {
    margin: 80px;
}

@keyframes fadeInAbout {
	from {
		opacity: 0;
		transform: translate3d(0, -0.2%, 0);
    }
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}