.Paintings h2 {
    margin-top: 20vh;
    font-size: 1.5em;
}

.Paintings {
    font-family: sans-serif;
    margin-bottom: 20vh;
}

.Paintingsgrid {
    display: flex;
    margin-top: 2vh;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    animation: fadeInPaintings 0.3s ease-in both;
}

.Paintings h2 {
    text-align: center;
}

.Paintingsgrid img {
    height: 70vh;
    width: auto;
    margin: auto;
    margin-top: 80px;
    transition: 0.5s ease-in-out;
}

.Paintingsgrid img:hover {
    transform: scale(1.05);
    cursor: pointer;
    opacity: 0.9;
    transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .Paintingsgrid img {
        max-width: 80%;
        height: auto;
        margin-top: 20px;
    }
}

@keyframes fadeInPaintings {
	from {
		opacity: 0;
		transform: translate3d(0, -0.2%, 0);
    }
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}